.image-window {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: move;
  border-radius: 50%;
}

.editable-image {
  position: absolute;
  top: 0;
  left: 0;
}

.drop-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
  border: 4px solid #d8dee9;
  background-color: #4c566a;
}

.drop-area input {
  display: none;
}

.drop-area--hovering {
  background-color: #a3be8c;
}

#uploadInput:hover {
  cursor: pointer;
}
